<connectionStrings>
    <add name="ConnectionString_seznam_volnych_clanku" connectionString="Server=tcp:logospolytechnikosapollo13dbserver.database.windows.net,1433;Initial Catalog=LogosPolytechnikosApollo13_db;Persist Security Info=False;User ID=hruska07;Password=1a2s3d4f#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
        providerName="System.Data.SqlClient" />
    <add name="LogosPolytechnikosApollo13_dbEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:logospolytechnikosapollo13dbserver.database.windows.net,1433;initial catalog=LogosPolytechnikosApollo13_db;persist security info=False;user id=hruska07;password=1a2s3d4f#;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="LogosPolytechnikosApollo13_dbConnectionString" connectionString="Data Source=tcp:logospolytechnikosapollo13dbserver.database.windows.net,1433;Initial Catalog=LogosPolytechnikosApollo13_db;Persist Security Info=False;User ID=hruska07;Password=1a2s3d4f#;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"
        providerName="System.Data.SqlClient" />
    <add name="LokalniDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Apollo13.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>