body {
    background-image: url('../graphics/Pozadi.png');
    color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.input-group {
    float: left;
    display: block;
    max-width: 40%;
}

.login-reg-btn {
    float: right;
    width: auto;
}

.search-login {
    display: block;
    max-width: 650px;
    position: absolute;
    right: 50px;
    top: 30px;
    padding: 17px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.search-login a, .search-login a:link, .search-login a:visited {
    color: #b6b6b6;
    text-decoration: none;
}

.search-login a:hover, .search-login a:active {
    color: #ffffff;
    text-decoration: none;
}

.search-login em {
    color: #e8212e;
}

.search-login ul {
    float: right;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 34px;
    color: #ffffff;
    list-style: none;
}

.search-login li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /*overflow-x: hidden;*/
    padding-top: 16px;
    text-align: center;
}

.sidebar a.highlight {
    padding: 45px 0;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
}

.sidebar a.active {
    background-color: #000000;
}

.sidebar a.highlight:hover {
    background-color: #000000;
    text-decoration: none;
}

.sidebar img {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 70px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 230px;
    background-color: #171717;
    width: 200px;
    z-index: 1;
}

.dropdown-content a {
    padding: 45px 0;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
}

.dropdown .dropbtn {
    width: 100%;
    border: none;
    outline: none;
    padding: 45px 0;
    margin: 0 auto;
    text-decoration: none;
    font-size: 18px;
    color: #ff6363;
    display: block;
    background-color: inherit;
}

.dropdown-content a:hover {
    background-color: #000000;
    text-decoration: none;
    color: #ffffff;
}

.dropdown-content a:hover #submenu {
    background-color: #000000;
}

.dropdown:hover .dropbtn {
    background-color: #000000;
}

#submenu:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
}

.main {
    /*margin-left: 200px; /*Same as the width of the sidenav */
    margin: 120px 50px 50px 280px;  /* (200 + 50)px*/
    color: #ffffff;
}

.main h3 {
    display: inline-block;
    padding: 12px 15px;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.obsah {
    /*display: inline-block;*/
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    font-size: 16px;
    line-height: 170%;
}

.obsah p {
    margin-bottom: 20px;
}

.my-link {
    color: #ff6363 !important;
    text-decoration: none !important;
}

.my-link a {
    color: #ff6363 !important;
    text-decoration: none !important;
}

.my-link a:hover {
    color: #ffffff !important;
    text-decoration: none;
}

.my-link a:active {
    color: #ffffff !important;
    text-decoration: none;
}

.obsah a.my-link {
    color: #ff6363;
    text-decoration: none;
}

.badge {
    font-size: 90% !important;
}

.obsah a.my-link:hover {
    color: #ffffff !important;
    text-decoration: none;
}

.obsah a.my-link:active {
    color: #ffffff;
    text-decoration: none;
}

.red {
    color: #e8212e;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.my-form {
    width: 370px;
    margin: 0 auto;
}

legend {
    display: block;
    padding: 0;
    width: auto !important;
    font-size: 20px;
    line-height: inherit;
    color: #fff !important;
    border: 0 !important;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}

fieldset {
    padding: 0 30px !important;
    border: 1px solid white !important;
}

.my-form-label {
    font-size: 20px;
}

.my-select {
    width: initial !important;
    display: inline-block !important;
}

.my-notifications {
    position: fixed;
    top: 30px;
    margin-left: 280px;
    margin-right: 50px;
    z-index: 1000;
}